.container{
    display:table-row-group;
}
label{
    display:table-row;
}
input{
    font-size: large;
}
button{
    background-color:darkslateblue;
    color: white;
    border:none;
    border-radius: 20%;
    padding: 5px;
    font-size: large;
    display:table-row;
    margin-top: 10px;  
    cursor: pointer; 
}