<div class="filters">
    <div class="genres">
        <div *ngFor="let genre of genresList">
            <a appMouseOn [routerLink]="['/genre', genre.id]">{{ genre.name }}</a>
        </div>
        <div class="container">
            <form [formGroup]="formGenre" (submit)="addGenre()">
                <label for="name">Add a genre:</label>
                <input id="name" type="text" formControlName="name"/>
                <button class="submit" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

<div class="centered-horizontal">
    <H1>All Movies:</H1>
    <div class="movies-grid">
        <app-movie
        *ngFor="let movie of moviesList"
        [movie]="movie"
        ></app-movie>
    </div>
    <button appButton (click)="addMovie()">Add a movie</button>
</div>