.movie_listing{
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color:darkslateblue;
}
h6{
    font-weight: normal;
}
.movie-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 5px;
  }