form{
    display: inline;
}
* {
    box-sizing: border-box;
  }
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.submit{
  width:100%;
  font-size: large;
}

.container{
  width:50%;
}

.scoreButtons{
  font-size: medium;
  padding: 3px;
  width: 30px;
}

.finishedButton{
  margin-top: 20px;
  margin-bottom:20px;
  width:100%;
  font-size: large;
}